#carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carousel', data-slide-to='0')
    li(data-target='#carousel', data-slide-to='1')
    li(data-target='#carousel', data-slide-to='2')
    li(data-target='#carousel', data-slide-to='3')
    li(data-target='#carousel', data-slide-to='4')
    li(data-target='#carousel', data-slide-to='5')
    li(data-target='#carousel', data-slide-to='6')
    li(data-target='#carousel', data-slide-to='7')
    li(data-target='#carousel', data-slide-to='8')
    li(data-target='#carousel', data-slide-to='9')
    li(data-target='#carousel', data-slide-to='10')
    li(data-target='#carousel', data-slide-to='11')
    span#carousel-index.text-white.biography.mr-4.lead
  .carousel-inner(role='listbox')
    each project, index in projects
      if (index == 0)
        .carousel-item.active
          .slide-container
            .row.mt-4.text-white.biography
              .col-10.offset-1.mt-4.media.pr-4
                img.img-fluid.rounded.d-flex.align-self-center.mr-3(src=`${project.img}`, width='350' alt="alt")
                .media-body
                  h2.title-header=project.title
                  hr.bg-faded.mt-0.mb-2
                  p.biography.text-justify #{project.text}
                    br
                    strong #{project.date}
      else 
        .carousel-item
          .slide-container
            .row.mt-4.text-white.biography
              .col-10.offset-1.mt-4.media.pr-4
                img.img-fluid.rounded.d-flex.align-self-center.mr-3(src=`${project.img}`, width='350' alt="alt")
                .media-body
                  h2.title-header=project.title
                  hr.bg-faded
                  p.biography.text-justify #{project.text}
                    br
                    strong #{project.date}
  a.carousel-control-prev(href='#carousel', role='button', data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#carousel', role='button', data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
